@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --border: #e5e7eb;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border: #374151;
}

* {
  border-color: hsl(var(--border));
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
